:root{
    --main-color:#24292e;
    --header-height: 55px;
}
body{color:#fcfcfc;margin:0;background:var(--main-color);}
h1{font-size:3.5em;font-family: Verdana,sans-serif;}
h2{font-size:2em;font-family: Verdana,sans-serif}
header{height:55px;width: 100%;background: var(--main-color);color:#fcfcfc;position:fixed;top:0;left:0;box-shadow: 0px 0px 8px 2px #000;}
main{padding-top:var(--header-height);min-height:100vh;}
section{text-align:center;font-family: Verdana,sans-serif;}
footer{min-height:150px;background:var(--main-color);box-shadow: 0 -2px 8px 0 #000;}
