/* Text title */
h1{text-align:center;}
/* Section relevent data */
[class^="bg"]{height:89px;margin-top:21px;}
/* Icon commen discription */
[class^="icon"]{background-image: url(../img/media_icons.png);height:89px;width:89px;display: inline-block;text-indent: -9999px;}
/* Section background color */
.bg-dark{background-color:#24292e;}
.bg-blue{background-color:#20009b}
.bg-light-blue{background-color:#3ec2d0}
.bg-light-green {background-color: #0efab0;}
.bg-pink{background-color: #fa0e58;}

ul{padding:0;width:100%;overflow-x: scroll;white-space:nowrap}
li{display: inline-block;margin:0 15px;}
/* use following style to adjust background size */
/* background-size: 1000% auto;*/
.icon-fm-1{background-position: -814px 4px;}
.icon-gp-1{background-position: -657px 4px;}
.icon-yt-1{background-position: -586px 4px;}
.icon-in-1{background-position: -513px 4px;}
.icon-wp-1{background-position: -440px 4px;}
.icon-twit-1{background-position: -285px 4px;}
.icon-fb-1{background-position: -140px 4px;}
.icon-git-1{background-position: -65px 4px;}
.icon-insta-1{background-position: 6px 4px;}
.icon-fm-1:hover{background-position: -813px -70px;}
.icon-gp-1:hover{background-position: -657px -70px;}
.icon-yt-1:hover{background-position: -586px -70px;}
.icon-in-1:hover{background-position: -513px -70px;}
.icon-wp-1:hover{background-position: -440px -70px;}
.icon-twit-1:hover{background-position: -285px -70px;}
.icon-fb-1:hover{background-position: -140px -70px;}
.icon-git-1:hover{background-position: -65px -70px;}
.icon-insta-1:hover{background-position: 6px -70px}